*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: poppins;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff;
    background-color: #23a6d5;
}
.scene{
    position: relative;
    top:0;
    left:0;
    margin:auto;
}
/*STYLING FOR PANDA HEAD*/
.panda{
   
    position:absolute;
    top:-60px;
    left:50px;
    right:0px;
    margin:auto;
    z-index: -50;
    
    margin:0;
    padding:0;
}
.panda-head{
    position:relative;
    display: flex;
    justify-content:center;
    background-color: #fff;
    box-shadow: 0px 0px 19px -5px #043547;
    width:200px;
    height:200px;
    border-radius: 100%;
}
.panda-ear {
    position:absolute;
    top:-15px;
    right:125px;
    content:" ";
    background-color: #000;
    width:80px;
    height:80px;
    border-radius: 100%;
    z-index:-1;
    box-shadow: 0px 0px 19px -5px #043547;
    border: 15px solid #fff;
}
.panda-ear::after{
    position:absolute;
        content:" ";
        left:110px;
    top:-15px;
    box-shadow: 0px 0px 19px -5px #043547;
    background-color: #000;
    width:50px;
    height:50px;
    border-radius: 100%;
    z-index:-1;
    border: 15px solid #fff;
    }
.panda-eye-shade{
    position: absolute;
    top: 35px;
    left:25px;
    background-color: #000;
    width: 50px;
    height: 80px;
    transform: rotate(220deg);
    border-radius: 25px / 20px 30px 35px 40px;
}
.right{
    position: absolute;
    top: 35px;
    left:125px;
    background-color: #000;
    width: 50px;
    height: 80px;
    transform: rotate(140deg);
}

.panda-eye-white{
    position:absolute;
    top:70px;
    left:24px;
    border-radius: 100%;
    background-color: #000;
    width:30px;
    height:30px;
    transition:.2s
}

.panda-eye-white-right{
    position:absolute;
    top:70px;
    left:140px;
    border-radius: 100%;
    background-color: #000;
    width:30px;
    height:30px;
    transition: .2s;
}
.panda-eye-ball{
    position:absolute;
    background-color: #000;
    top:5px;
    right:0;
    width:20px;
    height:20px;
    border-radius: 100%;
    transition:.5s;
   
}


.panda-nose{
    position:absolute;
    background-color: #000;
    bottom:68px;
    right:0;
    left:0;
    margin:auto;
    width:35px;
    height:20px;
    border-radius: 50px 20px/ 30px 15px;
    transform: rotate(15deg);

}


.form{
    position: absolute;
    z-index:10;
    inset:4px;
    background-color: black;

}
.box{
    position: relative;
    background-color: black;
    top:60px;
    height:350px;
    width:300px;
    left:0px;
    right:0px;
    margin:0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 19px -5px #043547;
}
/*animation for background*/

.box::before{
    position: absolute;
    content: "";
    display: block;
    inset:2px;
    background-color:#23d5ab;
    width:100%;
    height: 100%;
    top: -50%;
    left:-50%;
    transform-origin: bottom right;
    animation-name: sign;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
}
@keyframes sign {
    0%{
        transform: 
        rotate(0deg);
        background-color: #23d5ab;
    }
    /*#ee7752, #e73c7e, #23a6d5, #23d5ab*/
    100%{
        transform: 
        rotate(360deg);
        background-color:  #23a6d5;
    }
    
    
}


h2{
    position: absolute;
    margin:auto;
    top:20px;
    left:105px;
    right:0;
    color:white;
    font-size: 20px;
}




.inputs{
    position: absolute;
    background-color: transparent;
    color: #fff;
    border:1px solid grey;
    height:50px;
    width:70%;
    border-radius:3px;
    outline: none;
    left:0;
    right:0;
    margin:auto;
    -webkit-transition: 1s;
    transition: 1s ease-in-out;
    font-size: 13px;
}
.inputs:hover{
    cursor: pointer;
    border: 1px solid white;
    
}

.user{
    padding:10px;
    top:65px;
}
.password{
    padding:10px;
    bottom:135px;
}
.error-text{
    position:absolute;
    color:red;
    font-size: 11px;
    margin-top:-25px;
    margin-left: 45px;
}
.fa-regular{
    position: absolute;
    cursor:pointer;
    color:grey;
}
.fa-user{
    right:60px;
    top:80px;
}
.fa-eye-slash {
    right:60px;
    bottom:150px;
    
}

    

.username-error{
    top:143px;

}
.password-error{
    bottom:115px;

}
input[type=submit]{
    bottom:50px;
    
    outline: none;
    color:white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-size: 400%  400%;
    border:none;
    height:50px;
    width:70%;
    border-radius: 3px;
    cursor: pointer;
    top:280px;
}
@keyframes move {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
